<div class="piecharts row mt-4 mb-4 shadow">
    <div class="chart col-md-6 col-12" style="width: 400px;">
        <canvas id="pie-chart"></canvas>
    </div>

    
    <div class="content col-md-6 col-12 ">
        <div class="info-card">
            <h2 class="text-info font_bold">Pie Chart Information</h2>
            <p>This pie chart shows the distribution of patients diagnosed with various diseases in the year 2023:</p>
            <ul>
                <li style="color: rgba(255, 99, 132, 1);">Diabetes</li>
                <li style="color: rgba(54, 162, 235, 1);">Heart Disease</li>
                <li style="color: rgba(255, 206, 86, 1);">Cancer</li>
                <li style="color: rgba(75, 192, 192, 1);">Flu</li>
                <li style="color: rgba(153, 102, 255, 1);">Hypertension</li>
            </ul>
            <p>The segments represent the number of patients for each disease.</p>
        </div>
    </div>

   
</div>