<div class="linecharts row shadow">
    <div class="content col-md-6 col-12">
        <div class="info-card">
            <h2 class="font_bold text-info">Line Chart Information</h2>
            <p>This line chart shows patient numbers for the following diseases:</p>
            <ul>
                <li>Diabetes</li>
                <li>Heart Disease</li>
                <li>Cancer</li>
                <li>Flu</li>
                <li>Hypertension</li>
            </ul>
            <p>Colors represent years:</p>
            <ul class="d-flex gap-4 font_bold">
                <li><span style="color: rgba(54, 162, 235, 1);">2021</span></li>
                <li><span style="color: rgba(75, 192, 192, 1);">2022</span></li>
                <li><span style="color: rgba(153, 102, 255, 1);">2023</span></li>
            </ul>
        </div>
    </div>

    <div class="chart col-md-6 col-12">
        <canvas id="line-chart"></canvas>
    </div>
</div>
