
<section class="container pb-4 px-4 my-5 ">
  <div class="row justify-content-sm-center  ">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <div class="card row border rounded-5 bg-white shadow ">
        <div class="card-body p-5">
          <h1 class="fs-4 card-title fw-bold mb-4">User Login</h1>

          <form [formGroup]="userLoginForm" (submit)="submitUserLoginForm()" autocomplete="off">
            <div class="mb-3">
              <label class="form-label mb-2 text-muted" for="username">User Email <span
                  class="text-danger fs-5">*</span> </label>
              <input id="Username" type="text" class="form-control mb-2" name="userEmail" formControlName="userEmail"
                placeholder="Enter your email" />

              <span class="text-danger" *ngIf="
                  userLoginForm.get('userEmail')?.touched &&
                  userLoginForm.get('userEmail')?.hasError('required')
                ">* Field is required</span>

              <span class="text-danger" *ngIf="
                  userLoginForm.get('userEmail')?.touched &&
                  userLoginForm.get('userEmail')?.hasError('email')
                ">* Must have a valid email</span>
            </div>

            <div class="mb-3">
              <label class="mb-2 text-muted" for="password">Password <span class="text-danger fs-5">*</span></label>
              <input id="password" type="password" class="form-control mb-2" name="userPassword"
                formControlName="userPassword" placeholder="Enter your password" />

              <span class="text-danger" *ngIf="
                  userLoginForm.get('userPassword')?.touched &&
                  userLoginForm.get('userPassword')?.hasError('required')
                ">* Password Field is required</span>
            </div>

            <div class="d-flex ">
              <button type="submit" [disabled]="!userLoginForm.valid" class="btn btn-primary ms-auto font_bold" style="width: 100%">
                Login
              </button>
            </div>

            <div class="mt-3 text-center">
              Forgot Password? <a routerLink="/auth/forget" class="text-primary ">Reset Password</a>
            </div>
          </form>
        </div>

        <div class="card-footer py-3 border-0">
          <div class="text-center">
            New Here? <a routerLink="/auth/register" class="text-primary font_bold">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>