.main {
  background: #ecf0f3;
  width: 100%;
}

.main_content {
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}


button.file-button{
  color: red;
}


.modal-dialog {
  max-width: 800px;
}

.modal-content {
  max-width: 800px;
}

.box-area {
  width: 850px;
}

.wrapper_box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}

span {
  font-weight: 500;
  font-size: 13px;
}

label {
  font-weight: 500;
}

.user_select {
  background-color: rgb(247, 246, 246);
}

.border_right_radius {
  border-right: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}
